body{
  margin: 0;
  padding: 0;
}
/*navbar*/
#inicio{
  width: 100%;
  height: 45px;
  position: fixed;
  top: 0;
  width: 100%;
  border: 0px 0px 0px 1px solid white;
  z-index: 5;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6D4DA7;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

/*navbar-tienda*/
.navbar_tienda{
  width: 100%;
  height: 5vh;
  margin-top: 45px;
  background: black;
}

.navbar2 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.navbar2 li {
  float: left;
  border-right: 1px solid white;
}

.navbar2 li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar2 li a:hover {
  background-color: #111;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 3%;
  background-color: black;
  position: fixed;
  height: 100%;
  overflow: auto;
}
.sidebar a {
  display: block;
  color: #6D4DA7;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  border-bottom: 1px solid white;
}
.sidebar a:hover{
  background-color:#6D4DA7 ;
  color: white;
}
.cajatienda iframe{
  width: 97%;
  height: 90vh;
  background: black;
  float: right;
  border-top: 1px solid white;
}